body{
    background-color: #EEE3CB;
    margin: 0;
}

nav {
    background-color: #9BABB8;
    border-bottom: solid 1px #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li.left {
    margin-right: auto;
}